<div class="mobile-wrapper">

  <!--======= Header =======-->

  <header class="header">
    <div class="container">
      <span>Welcome Back!</span>
      <h1>Calendar Plan</h1>

      <div class="menu-toggle">
        <div>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </header>

  <!--======= Today =======-->

  <section class="today-box" id="today-box">
    <span class="breadcrumb-inner">Today</span>
    <h3 class="date-title">May 15, 2018</h3>

    <div class="plus-icon">
      <i class="ion ion-ios-add"></i>
    </div>
  </section>

  <!--======= Upcoming Events =======-->

  <section class="upcoming-events">
    <div class="container">
      <h3>
        Lastest Events

      </h3>
      <div class="events-wrapper">

        <div *ngFor="let entry of entries" class="event" [class.active]="entry.active" (mouseenter)="enterEntry(entry)"  (mouseleave)="leaveEntry(entry)">
          <i *ngIf="!entry.active" class="ion ion-ios-flame hot"></i>
          <i *ngIf="entry.active" class="ion ion-ios-radio-button-on icon-in-active-mode"></i>

          <h4 class="event__point">{{entry.time}}</h4>
          <span *ngIf="!entry.active" class="event__duration">in 30 minutes.</span>
          <p class="event__description">
           {{entry.title}}
          </p>
        </div>

      </div>
      <button class="add-event-button">
        <span class="add-event-button__title">Add Event</span>

        <span class="add-event-button__icon">
               <i class="ion ion-ios-star-outline"></i>
            </span>


      </button>
    </div>
  </section>
</div>
