
/* You can add global styles to this file, and also import other style files */
$primary: rgb(21, 143, 239) !default;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: 0;
}

body {
  height:100vh;
  margin: 0;
  color: #555;
  font: {
    family: 'Lato', sans-serif;
    size: 14px;
  }
}

.slab-flex-1 {
  flex: 1;
}

.slab-overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
