/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  outline: 0;
}

body {
  background: linear-gradient(45deg, rgb(19, 73, 95), rgb(118, 75, 226), rgb(131, 115, 198), rgb(119, 211, 185));
  background-attachment: fixed;
  height:100vh;
  padding: 1rem 0;
  margin: 0;
  color: #555;
  font: {
    family: 'Lato', sans-serif;
    size: 14px;
  }
}

.slab-flex-1 {
  flex: 1;
}

.slab-overflow-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
